# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
altair=4.2.0=pyhd8ed1ab_1
ipykernel=6.15.1=pyh025b116_0
jupyter_client=7.3.4=pyhd8ed1ab_0
jupyter_core=4.11.1=py38haa244fe_0
matplotlib=3.5.3=py38haa244fe_1
numba=0.55.2=py38h860efb6_0
pandas=1.4.3=py38hcc40339_0
python=3.8.13=h9a09f29_0_cpython
rdkit=2022.03.5=py38hb311bc2_0
scikit-learn=1.1.2=py38hc27f28a_0
seaborn=0.11.2=hd8ed1ab_0
tqdm=4.64.0=pyhd8ed1ab_0
umap-learn=0.5.3=py38haa244fe_0